@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
    scroll-behavior: smooth;
  }
  body {
    @apply font-sans text-slate-800 bg-white;
  }
}

/* 섹션 스크롤 시 상단 여백 보정 */
section[id] {
  scroll-margin-top: 5rem;
}
